# ROS2 build artifacts
build/
install/
log/

# Python artifacts
__pycache__/
*.pyc

# C++ artifacts
*.o
*.d
*.so
*.dll
*.dylib

# Editor/IDE specific files
.vscode/
.idea/
*.swp
*~

# Other common temporary files
.DS_Store
.env
.vscode-test/
